Sta_MARATHIVILLAGENAME_TALUKACAPINITIALS_CANALNAME.xls
Statement Column Heading Sample.png
Sum_MARATHIVILLAGENAME_TALUKACAPINITIALS_CANALNAME.xls
Summary Column Heading Sample.png
Test.ipynb
split_pdf.py
page178.jpg
.gitignore
